<!DOCTYPE html>
<html lang="en">

<head>
    <title>Confluent | {{title}}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}?v=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}?v=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}?v=1">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}?v=1"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}?v=1"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap5.min.js') }}?v=1"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}?v=1"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}?v=1"></script>
    {% block header %}{% endblock %}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% block content %}{% endblock %}
            </div>
        </div>
        <hr>
        <div class="mt-1">
            <div class="col-12">
                <p class="text-center text-secondary small">Powered by <a
                        href="https://www.confluent.io/confluent-cloud" target="_blank">Confluent Cloud</a>&copy;</p>
            </div>
        </div>
    </div>
</body>

</html>